@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

:root {
    --verde: #0f9e5c;
    --fondo_p: #4c535b;
    --icon_menu: #c6d0d;
    --text_menu: #878b94;
    --bg_menu: #4d545c;
    --f7-list-border-color: none;
    --azul: #0068ff;
    --gris: #b0b6c2;
    --carbon: #3b3c40;
}

.panel-left {
    background-color: var(--azul);
    color: #fff;
}

.letra_v {
    color: var(--verde);
}

.letra_b {
    color: #FFFFFF;
}

.list-menu .item-media span {
    color: var(--icon_menu);
}

.img-p {
    border-radius: 100%;
    background-color: var(--bg_menu);
}

.list-menu .item-inner::before {
    color: rgba(255, 255, 255, 0.50) !important;
}

.list-menu .item-inner {
    color: #fff;
}

.list-menu {
    background-color: var(--azul)!important;
    font-size: 14px;
}

.list-menu .item-inner::after {
    background-color: transparent!important;
}

h1,
h2,
h3,
h4 {
    margin: 2px 0;
}

.saludo {
    color: var(--azul);
}

.saludo h2 {
    font-size: 24px;
}

.saludo h3 {
    font-weight: 500;
}

.block-title {
    color: #000;
    font-weight: 600;
}

.img-fluid {
    max-width: 100%;
}

.card-food .card-header {
    padding: 0px
}

.card-food .card-header img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-food .card-content {
    background-color: var(--azul);
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 17px;
}

.card-food .card-content article:last-child {
    justify-content: flex-end;
    display: flex;
    font-size: 13px;
}

.categorias .card {
    background-color: var(--azul);
    color: #fff;
    padding: 5px 10px;
}

.categorias .card-content img {
    width: 40px;
}

.derecha {
    text-align: right;
}

.categorias h3 {
    margin-top: -20%;
    font-size: 15px;
    font-weight: 600;
}

.bg-azul {
    background-color: var(--azul);
    color: #fff;
    padding: 45px 0;
}

.bg-azul block {
    margin-top: 0;
}

.perfil-c .card-content {
    padding: 20px;
    text-align: center;
    margin-top: -20%;
}

.list-perfil .item-header {
    color: #666;
}

.list-perfil .item-title {
    color: #000;
    font-weight: 500;
}

.bg-carnes {
    background-image: url("../img/bg-meat.jpg");
    background-size: cover;
    background-position: top center;
}

.bg-carnes h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 20% 0
}

.lista-productos .item-media img {
    width: 80px;
}

#login .page,
#login .page-content {
    background-color: #a8a8a8 !important;
}